body{
    margin: 0%;
    width:100vw;
    background-color: aqua;
}
#header{
    display:flex;
    width: 100vw;
    background-color: #f60;
    border: solid red 1px;
}
    #logo{
        width: ;
        padding: 
    }
    
    #menu{
        
        

    }
        .itemsmenu{
            list-style-type: none;
            display: flex;
        }
        .itemsmenu a{
            
        }